*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.resume-wrapper{
    height: 500px;
    width: 1000px;
    background-color: whitesmoke;
    margin: 0px auto;
    margin-top: 50px;

}

.container {
    border: solid 1px #8d8d8d;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
  }
  
  .container .heading {
    font-size: 1.3rem;
    margin-bottom: 20px;
    font-weight: bolder;
  }
  
  .form {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form .btn-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .form .btn {
    padding: 10px 20px;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 10px;
    border: solid 1px #1034aa;
    border-bottom: solid 1px #90c2ff;
    background: linear-gradient(135deg, #0034de, #006eff);
    color: #fff;
    font-weight: bolder;
    transition: all 0.2s ease;
    box-shadow: 0px 2px 3px #000d3848, inset 0px 4px 5px #0070f0,
      inset 0px -4px 5px #002cbb;
  }
  
  .form .btn:active {
    box-shadow: inset 0px 4px 5px #0070f0, inset 0px -4px 5px #002cbb;
    transform: scale(0.995);
  }
  
  .input-field {
    position: relative;
  }
  
  .input-field label {
    position: absolute;
    color: #8d8d8d;
    pointer-events: none;
    background-color: transparent;
    left: 15px;
    transform: translateY(0.6rem);
    transition: all 0.3s ease;
  }
  
  .input-field input {
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 8px;
    border: solid 1px #8d8d8d;
    letter-spacing: 1px;
    width: 100%;
    /* margin: 10px; */
    margin-bottom: 15px;
  }
  
  .input-field input:focus,
  .input-field input:valid {
    outline: none;
    border: solid 1px  rgb(17, 127, 237);
  }
  
  .input-field input:focus ~ label,
  .input-field input:valid ~ label {
    transform: translateY(-51%) translateX(-10px) scale(0.8);
    background-color: #fff;
    padding: 0px 5px;
    color:  rgb(17, 127, 237);
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    border-radius: 100px;
  }
  
  .form .passicon {
    cursor: pointer;
    font-size: 1.3rem;
    position: absolute;
    top: 6px;
    right: 8px;
  }
  
  .form .close {
    display: none;
  }
  

  .resumePreview{
    height: 500px;
    width: 500px;
    background-color: #0070f0;
    margin: 20px auto;
  }


  .alert{
    position: fixed;
    background-color: #fff;
    box-shadow: 1px 1px 5px #000, -1px -1px 5px #000;
    width: 50%;
    display: none;
    left: 25%;
    padding: 120px;
    text-align: center;
}
.alert button{
    -webkit-appearance: none;
    border: none;
    outline: none;
    background-color: #212121;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
}
.place{
    background-color: #fff;
    margin: 10px auto;
    width:50%;
    padding: 15px;
}
.add{
    padding: 50px 0;
    text-align: center;
}
.add input{
    padding: 5px 0px;
    -webkit-appearance: none;
    border: none;
    border-bottom: 1px solid rgba(33, 33, 33, 0.38);
    outline: none;
    width: 50%;
    transition: all .3s ease-in-out;
}
.add input:focus{
    border: none;
    border-bottom: 1px solid #212121;
}
.add button{
    -webkit-appearance: none;
    border: none;
    outline: none;
    background-color: #212121;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.items span{
    font-size: 16px;
    background-color: #212121;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    display: inline-block;
}
.items i{
    margin-left: 5px;
    cursor: pointer;
}

.showResume{
  height: 800px;
  width: 700px;
  background-color: red;
  margin: 0 auto;
}